{% extends "KaikmediaAdminLTETheme:Layout:" ~ themevars.admin_layout ~ ".html.twig" %}
{#{% extends "KaikmediaAdminLTETheme:Layout:default.html.twig" %}#}
{% block head %}
    {{ parent() }}
    <link href="{{ pageAddAsset('stylesheet', zasset("@KaikmediaAdminLTETheme:almasaeed2010/adminlte/dist/css/skins/#{themevars.admin_skin}.min.css"), 98)  }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    <body class="hold-transition {{ themevars.admin_skin }} {{ themevars.admin_layout }} sidebar-mini">
    {% endblock %}
    {% block status_bar %}
        <div class="col-md-8">
        {{ adminMenu('categories') }}
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">{{ __('Toggle navigation', 'kaikmediaadminltetheme') }}</span>
                    </a>
                </li>
                <li>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admintabs-container" aria-expanded="false">
                           <span class="sr-only">{{ __('Toggle navigation', 'kaikmediaadminltetheme') }}</span>
                           <i class="fa fa-sitemap" aria-hidden="true"></i>
                    </button>
                </li>               
                {% include 'KaikmediaAdminLTETheme:StatusBar:admin.flashes.html.twig' %}
                {{ include('@ZikulaAdminModule/Admin/systemNotices.html.twig') }}
                {% if getSystemVar('messagemodule', FALSE) %}
                    {% include 'KaikmediaAdminLTETheme:StatusBar:admin.messages.html.twig' %}
                {% endif %}
                {% if getSystemVar('messagemodule', FALSE) %}
                    {% include 'KaikmediaAdminLTETheme:StatusBar:admin.notifications.html.twig' %}
                {% endif %}
                {% if getSystemVar('messagemodule', FALSE) %}
                    {% include 'KaikmediaAdminLTETheme:StatusBar:admin.tasks.html.twig' %}
                {% endif %}
                {% include 'KaikmediaAdminLTETheme:StatusBar:admin.user.html.twig' %}
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
        {{ parent() }}
    {% endblock %}  
    {% block sidebar_content %}
        {#        {% include 'KaikmediaAdminLTETheme:Sidebar:user.html.twig' %}#}
        {% include 'KaikmediaAdminLTETheme:Sidebar:search.html.twig' %}
        {{ adminPanelMenu() }}
    {% endblock %}
    {% block sidebar %}
        {{ parent() }} 
    {% endblock %}
    {% block content %}
        {{ parent() }}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                {% include "KaikmediaAdminLTETheme:Body:" ~ themevars.admin_body ~ ".html.twig" %}
                <!-- /.row (main row) -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    {% endblock %}

    {% block footer %}
        {% block control_sidebar_content %}

        {% endblock %}
        {{ parent() }}
        <script src="{{ pageAddAsset('javascript', zasset('@KaikmediaAdminLTETheme:almasaeed2010/adminlte/plugins/slimscroll/jquery.slimscroll.min.js'), 98)  }}"></script>
        <script src="{{ pageAddAsset('javascript', zasset('@KaikmediaAdminLTETheme:js/admin.js'), 98)  }}"></script>
    {% endblock %}
