{% extends "KaikmediaAdminLTETheme:Layout:" ~ themevars.home_layout ~ ".html.twig" %}
{% block head %}
    {{ parent() }}
    <link href=" {{ pageAddAsset('stylesheet', zasset('almasaeed2010/adminlte/dist/css/AdminLTE.min.css'), 98) }}" rel="stylesheet" type="text/css" />
    <link href="{{ pageAddAsset('stylesheet', zasset("almasaeed2010/adminlte/dist/css/skins/#{themevars.home_skin}.min.css"), 98)  }}" rel="stylesheet" type="text/css" />
    <link href="{{ pageAddAsset('stylesheet', zasset("almasaeed2010/adminlte/plugins/iCheck/square/blue.css"), 98)  }}" rel="stylesheet" type="text/css" />
{% endblock %} 
{% block body %}
    <body class="hold-transition {{ themevars.home_layout }} {{ themevars.home_skin }}  sidebar-mini">
    {% endblock %}
    {% block content %}
        {{ parent() }}
        {% if currentUser.loggedIn %}
            <div class="login-box">
                <div class="login-logo">
                    <a href="#">KaikMedia<b>Admin</b>LTE</a>
                </div>
                <a href="{{ path('zikulausersmodule_account_menu') }}" class="btn btn-block btn-primary btn-lg">{{ __('Go to your account') }}</a>
            </div>         
        {% else %}    
            {{ render(controller('ZikulaUsersModule:Access:login')) }}
        {% endif %}

    {% endblock %}
    {% block footer %}
        <script src="{{ pageAddAsset('javascript', zasset('almasaeed2010/adminlte/plugins/iCheck/icheck.min.js'), 98)  }}"></script>
        <script src="{{ pageAddAsset('javascript', zasset('@KaikmediaAdminLTETheme:js/home.js'), 98)  }}"></script>
    {% endblock %}

